/* src/index.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3 {
  @apply text-[large];
}

h1 {
  @apply font-extrabold mb-1;
}

h2 {
  @apply font-bold mb-1;
}
h3 {
  @apply font-medium pb-1;
}
.main {
  @apply font-normal font-sans;
}
.navbar {
  @apply fixed w-full z-10;
}

.navbar-list {
  @apply flex justify-end max-md:justify-center space-x-4;
}

.main {
  @apply w-full flex flex-col;
}

a {
  @apply text-base;
}

.icons-container {
  @apply flex items-center gap-2;
}

.icons-container .icon {
  @apply text-[1.8vmax];
}

.iconSm {
  @apply text-[1.8vmax] mr-4; /* Adjust icon size to match the text size */
}

/* Keyframe animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

/* Animation classes */
.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

.fade-out {
  animation: fadeOut 0.3s ease-in-out;
}

.hover-text-info {
  @apply hover:text-info;
  transition: color 0.3s ease-in-out;
}

.hover-text-accent {
  @apply hover:text-accent;
  transition: color 0.3s ease-in-out;
}

/* Additional styles for selected project */
.carousel-item {
  transition: background-color 0.3s ease;
}

.carousel-item:hover {
  @apply bg-primary text-primary-content; /* Light gray hover color */
}

.hover-effect {
  transition: transform 0.3s, box-shadow 0.3s;
}

.hover-effect:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
