/* src\index.css  */
@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3 {
  @apply font-serif;
}

.navbar {
  @apply fixed w-full z-10;
}

.navbar-list {
  @apply flex justify-end max-md:justify-center space-x-4;
}

.main {
  @apply w-full flex flex-col;
}
a {
  @apply text-base;
}

.icons-container {
  @apply flex items-center gap-2;
}

.icons-container .icon {
  @apply text-[1.8vmax];
}

.iconSm {
  @apply text-[1.8vmax] mr-4; /* Adjust icon size to match the text size */
}

/* Keyframe animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

/* Animation classes */
.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

.fade-out {
  animation: fadeOut 0.3s ease-in-out;
}

.hover-text-info {
  @apply hover:text-info;
  transition: color 0.3s ease-in-out;
}

.hover-text-accent {
  @apply hover:text-accent;
  transition: color 0.3s ease-in-out;
}

/* Additional styles for selected project */
.carousel-item {
  transition: background-color 0.3s ease;
}

.carousel-item:hover {
  background-color: #e5e7eb; /* Light gray hover color */
}

.chat-bubble {
  transition: transform 0.3s ease;
}

.chat-bubble:hover {
  transform: scale(1.02); /* Slightly enlarge the chat bubble on hover */
}
